<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>94378825137-d5d25rthr6tt5sjgi42e5gq0flkvvksh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.94378825137-d5d25rthr6tt5sjgi42e5gq0flkvvksh</string>
	<key>API_KEY</key>
	<string>AIzaSyD-1GztD63FRZQDSxoyb_rhrjvyut7uhNM</string>
	<key>GCM_SENDER_ID</key>
	<string>94378825137</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.weChat</string>
	<key>PROJECT_ID</key>
	<string>we-chat-9a80e</string>
	<key>STORAGE_BUCKET</key>
	<string>we-chat-9a80e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:94378825137:ios:cf55c13896322217239990</string>
</dict>
</plist>